* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 62.5%;
}

.bg-color {
  background-color: teal;
}

header {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 6rem;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}

.nav-lst {
  list-style-type: none; 
}

.nav-lst a {
  display: inline-block;
  text-decoration: none;
  font-size: 3.5rem;
  color: #fff;
}

.nav-lst a:hover {
 color: rgb(192, 190, 190);
 transform: scale(1.2);
}

figure {
  margin: 0;
  text-align: center;
}

#profile_img {
  border-radius: 50%;
  transform: scale(80%);
  border: 5px solid #fff;
}

.intro_article {
  width: 100%;
  color: #fff;
  text-align: center;
  padding-bottom: 2.5rem;
}

#about {
  font-size: 4.5rem;
}

.intro_article p {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.btn {
  padding: 1.5rem 3rem;
}

.btn a {
  text-decoration: none;
  font-size: 3.5rem;
  letter-spacing: 1.5px;
}

.section {
  text-align: center;
  margin-bottom: 3.5rem;
}

.heading {
  font-size: 5.5rem;
  letter-spacing: 2px;
  color: rgb(163, 171, 178);
}

.sk_set {
  padding-left: 0;
  max-width: 90%;
  margin: 0 auto;
}

.skill_list {
  list-style-type: none;
  height: 20rem; /*can delete this later*/ 
  background-color: aliceblue;
  margin-bottom: 2%;
} 

.skill_list > h3 {
  text-align: center;
  font-size: 3.4rem;
  color: rgb(100, 100, 101);
  padding-top: 2%;
}

.article_item {
  /* margin: 0 auto; */
  max-width: 85%;
}

.project_thumb img:hover {
 transform: scale(0.95);
}

.prj_title {
  font-size: 4rem;
  color: rgb(15, 0, 98);
  padding-bottom: 5%;
}

.prj_desc {
  font-size: 3.0rem;
  letter-spacing: 0.5px;
  color: rgb(15, 0, 98);
}

#skills, #contact {
  margin-bottom: 7%;
}

.icon {
  max-width: 100%;
}

.sns li{
  max-width: 60px;
  /* max-width: 120px; */
}

#linkedin_icon {
 transform: translateY(10%) scale(1.1);
}

.sns {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  
}
.sns li {
  list-style-type: none;
}

footer {
  width: 100%;
  background-color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 50px;
}

small {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
}

/*----------Media Query-------------*/


/*2 columns*/
@media screen and (min-width: 640px) {
  .nav-lst a {
    font-size: 4.5rem;
  }

  .sk_set {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding-left: 0;
    row-gap: 1rem;
    max-width: 100%;
  }

  .skill_list {
    flex-basis: calc(90%/2);
    margin: 0;
  }

  .article_container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    row-gap: 3.5rem;
  }

  .article_item {
    flex-basis: calc(80%/2);
  }

  #about {
    font-size: 5.5rem;
  }

  .intro_article p {
    font-size: 3.4rem;
  }
  .heading {
    font-size: 6.5rem;
  }

  .sns li{
    max-width: 120px; 
  }
}


/*3 columns*/
@media screen and (min-width: 1280px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .intro {
    display: flex;
  }

  .nav {
    column-gap: 50px;
    padding-top: 50px;
  }
  .intro_article {
    text-align: left;
    padding-left: 7%;
    padding-top: 3%; 
  }
  .sk_set {
    row-gap: 20px;
  }

  .sk_set {
    justify-content: space-evenly;
  }
  .skill_list {
    flex-basis: calc(90%/3);
  }
  .article_container {
    justify-content: space-evenly;
  }
  .article_item {
    flex-basis: calc(90%/3);
  }
  .prj_desc {
    width: 100%;
    margin: 0 auto;
  }
  .heading {
    padding-left: 3%;
    text-align: left; 
    font-size: 6.8rem;   
  }

  #project {
    margin-bottom: 7%;
  }

  .prj_desc {
    max-width: 80%; 
  } 

  .sns li{
    max-width: 120px; 
  }
}

/*4 columns (desktop)*/
@media screen and (min-width: 1920px) {

  .skill_list {
    flex-basis: calc(90%/4);
  }

  .article_item {
    flex-basis: calc(90%/4);
  }
}