.clearfix::after {
  content: "";
  display: block;
  clear: both;
} 

html {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}

.bg-color {
  background-color: teal;
}

header {
  width: 100%;
}

h1 {
  font-size: 3em;
  float: left;
  margin-left: 30px;
  color: #fff;
}

.nav {
  display: flex;
  float: right;
  margin-right: 30px;
}

.nav-lst {
  padding-right: 40px; 
  padding-top: 30px;
  list-style-type: none; 
}

.nav-lst a {
  display: inline-block;
  text-decoration: none;
  font-size: 2.0em;
  color: #fff;
}

.nav-lst a:hover {
 color: rgb(192, 190, 190);
 transform: scale(1.2);
}

.intro {
  font-size: 2em;
  display: flex;
}

.intro_article {
  margin-left: 50px;
  color: #fff;
}

#profile_img {
  border-radius: 50%;
  transform: translateY(-20%) scale(50%);
  border: 5px solid #fff;
}


#about {
  font-size: 1.3em;
}

.bg-white {
  margin-left: 50px;
}

.sk_set {
  display: flex;
  flex-flow: row wrap;
}

.skill_list {
  list-style-type: none;
  width: calc(80%/5);
  height: 20rem;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: aliceblue;
}

.skill_list > h3 {
  text-align: center;
  font-size: 1.4rem;
  color: rgb(100, 100, 101);
}

.article_container {
  display: flex;
  flex-flow: row wrap;
}

.article_item {
  width: calc(80%/3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.heading {
  font-size: 3.0em;
  color: rgb(163, 171, 178);
}

.project_thumb {
 max-height: 230px;
}

#dice_img {
 transform: translateY(-20%) scale(0.8);
 max-width: 100%;
 margin: 0;
 padding: 0;
}

.prj_title {
  font-size: 1.6rem;
  margin-left: 30px;
  color: rgb(15, 0, 98);
}

.prj_desc {
  font-size: 1.3rem;
  margin-left: 30px;
  max-width: 280px;
  color: rgb(15, 0, 98);
}

.icon {
  max-width: 100%;
}

.sns li{
  width: 70px;
}

#linkedin_icon {
  transform: translateY(10%) scale(1.1);
}

footer {
  width: 100%;
  background-color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 50px;
}

.sns {
  display: flex;
  
}
.sns li {
  list-style-type: none;
  padding-right: 50px;
}


small {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1.4rem; 
}